<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.mapper.SalesOrderItemsMapper">

    <resultMap id="BaseResultMap" type="com.database.pojo.SalesOrderItems">
            <id property="id" column="id" />
            <result property="salesOrderId" column="sales_order_id" />
            <result property="productId" column="product_id" />
            <result property="quantity" column="quantity" />
            <result property="unitPrice" column="unit_price" />
            <result property="discount" column="discount" />
            <result property="taxRate" column="tax_rate" />
            <result property="lineTotal" column="line_total" />
            <result property="remark" column="remark" />
            <result property="createdAt" column="created_at" />
            <result property="createdById" column="created_by_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,sales_order_id,product_id,quantity,unit_price,discount,
        tax_rate,line_total,remark,created_at,created_by_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sales_order_items
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sales_order_items
        where  id = #{id} 
    </delete>
    <delete id="deleteByOrderId">
        DELETE FROM sales_order_items
        WHERE sales_order_id = #{salesOrderId}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.database.pojo.SalesOrderItems" useGeneratedKeys="true">
        insert into sales_order_items
        ( sales_order_id,product_id,quantity,unit_price,discount,cost_price,
        tax_rate,remark,created_at,created_by_id)
        values (#{salesOrderId},#{productId},#{quantity},#{unitPrice},#{discount},#{costPrice},
        #{taxRate},#{remark},NOW(),#{createdById})
    </insert>
<!--,line_total    ,#{lineTotal}-->
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.database.pojo.SalesOrderItems" useGeneratedKeys="true">
        insert into sales_order_items
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="salesOrderId != null">sales_order_id,</if>
                <if test="productId != null">product_id,</if>
                <if test="quantity != null">quantity,</if>
                <if test="unitPrice != null">unit_price,</if>
                <if test="discount != null">discount,</if>
                <if test="taxRate != null">tax_rate,</if>
                <if test="lineTotal != null">line_total,</if>
                <if test="remark != null">remark,</if>
                <if test="createdAt != null">created_at,</if>
                <if test="createdById != null">created_by_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="salesOrderId != null">#{salesOrderId},</if>
                <if test="productId != null">#{productId},</if>
                <if test="quantity != null">#{quantity},</if>
                <if test="unitPrice != null">#{unitPrice},</if>
                <if test="discount != null">#{discount},</if>
                <if test="taxRate != null">#{taxRate},</if>
                <if test="lineTotal != null">#{lineTotal},</if>
                <if test="remark != null">#{remark},</if>
                <if test="createdAt != null">#{createdAt},</if>
                <if test="createdById != null">#{createdById},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.database.pojo.SalesOrderItems">
        update sales_order_items
        <set>
                <if test="salesOrderId != null">
                    sales_order_id = #{salesOrderId},
                </if>
                <if test="productId != null">
                    product_id = #{productId},
                </if>
                <if test="quantity != null">
                    quantity = #{quantity},
                </if>
                <if test="unitPrice != null">
                    unit_price = #{unitPrice},
                </if>
                <if test="discount != null">
                    discount = #{discount},
                </if>
                <if test="taxRate != null">
                    tax_rate = #{taxRate},
                </if>
                <if test="lineTotal != null">
                    line_total = #{lineTotal},
                </if>
                <if test="remark != null">
                    remark = #{remark},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
                <if test="createdById != null">
                    created_by_id = #{createdById},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.database.pojo.SalesOrderItems">
        update sales_order_items
        set 
            sales_order_id =  #{salesOrderId},
            product_id =  #{productId},
            quantity =  #{quantity},
            unit_price =  #{unitPrice},
            discount =  #{discount},
            tax_rate =  #{taxRate},
            line_total =  #{lineTotal},
            remark =  #{remark},
            created_at =  #{createdAt},
            created_by_id =  #{createdById}
        where   id = #{id} 
    </update>
    <update id="updateToDeleteByOrderId">
        update sales_order_items set
    </update>
</mapper>
