<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.mapper.ProductsMapper">

    <resultMap id="BaseResultMap" type="com.database.pojo.Products">
        <id property="id" column="id" />
        <result property="productCode" column="product_code" />
        <result property="productName" column="product_name" />
        <result property="categoryId" column="category_id" />
        <result property="sku" column="sku" />
        <result property="unit" column="unit" />
        <result property="specification" column="specification" />
        <result property="description" column="description" />
        <result property="costPrice" column="cost_price" />
        <result property="listPrice" column="list_price" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="createdById" column="created_by_id" />
        <result property="updatedById" column="updated_by_id" />
        <result property="isDeleted" column="is_deleted" />
        <result property="deletedAt" column="deleted_at" />
    </resultMap>

    <resultMap id="ProductVOResultMap" type="com.database.vo.ProductVO">
        <id property="id" column="p_id" />
        <result property="productCode" column="p_product_code" />
        <result property="productName" column="p_product_name" />
        <result property="sku" column="p_sku" />
        <result property="unit" column="p_unit" />
        <result property="specification" column="p_specification" />
        <result property="description" column="p_description" />
        <result property="costPrice" column="p_cost_price" />
        <result property="listPrice" column="p_list_price" />
        <result property="createdAt" column="p_created_at" />
        <result property="updatedAt" column="p_updated_at" />
        <result property="categoryName" column="c_category_name" />
    </resultMap>

    <sql id="Base_Column_List">
        id,product_code,product_name,category_id,sku,unit,
        specification,description,cost_price,list_price,created_at,
        updated_at,created_by_id,updated_by_id,is_deleted,deleted_at
    </sql>

    <sql id="Products_Column_Alias">
        p.id AS p_id, p.product_code AS p_product_code, p.product_name AS p_product_name,
        p.sku AS p_sku, p.unit AS p_unit, p.specification AS p_specification, p.description AS p_description,
        p.cost_price AS p_cost_price, p.list_price AS p_list_price, p.created_at AS p_created_at,
        p.updated_at AS p_updated_at
    </sql>

    <select id="selectVOList" resultMap="ProductVOResultMap">
        SELECT
        <include refid="Products_Column_Alias" />,
        c.category_name AS c_category_name
        FROM products p
        LEFT JOIN product_categories c ON p.category_id = c.id
        <where>
            p.is_deleted = 0
            <if test="productName != null and productName != ''">
                AND p.product_name LIKE CONCAT('%', #{productName}, '%')
            </if>
            <if test="categoryName != null and categoryName != ''">
                AND c.category_name LIKE CONCAT('%', #{categoryName}, '%')
            </if>
            <if test="productCode != null and productCode != ''">
                AND p.product_code LIKE CONCAT('%', #{productCode}, '%')
            </if>
        </where>
        ORDER BY p.updated_at DESC
    </select>

    <select id="selectVOByPrimaryKey" parameterType="java.lang.Long" resultMap="ProductVOResultMap">
        SELECT <include refid="Products_Column_Alias" />, c.category_name AS c_category_name
        FROM products p LEFT JOIN product_categories c ON p.category_id = c.id
        WHERE p.id = #{id} AND p.is_deleted = 0
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from products where id = #{id}
    </select>
    <select id="selectByProductCode" resultType="com.database.pojo.Products">
        select * from products where product_code=#{productCode}
    </select>
    <select id="selectVOByProductCode" resultType="com.database.vo.ProductVO">
        SELECT <include refid="Products_Column_Alias" />, c.category_name AS c_category_name
        FROM products p LEFT JOIN product_categories c ON p.category_id = c.id
        WHERE p.product_code = #{productCode} AND p.is_deleted = 0
    </select>
    <select id="getMaxProductCodeNumber" resultType="java.lang.Integer">
        SELECT MAX(CAST(SUBSTRING(product_code, 2) AS UNSIGNED))
        FROM products
        WHERE product_code LIKE 'P%'
    </select>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.database.pojo.Products" useGeneratedKeys="true">
        insert into products
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode != null">product_code,</if>
            <if test="productName != null">product_name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="listPrice != null">list_price,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productCode != null">#{productCode},</if>
            <if test="productName != null">#{productName},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="listPrice != null">#{listPrice},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.database.pojo.Products">
        update products
        <set>
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="listPrice != null">list_price = #{listPrice},</if>
            updated_at = NOW()
        </set>
        where id = #{id}
    </update>

    <update id="updateProductCostPrice">
        update products set cost_price=#{newCostPrice} where id=#{productId}
    </update>

    <update id="softDeleteByPrimaryKey" parameterType="java.lang.Long">
        UPDATE products SET is_deleted = 1, deleted_at = NOW() WHERE id = #{id} AND is_deleted = 0
    </update>
    <update id="softDeleteByProductCode">
        update products set is_deleted=1,deleted_at=NOW() where product_code=#{productCode}
    </update>

</mapper>