<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.mapper.SalesOrdersMapper">

    <resultMap id="BaseResultMap" type="com.database.pojo.SalesOrders">
            <id property="id" column="id" />
            <result property="orderCode" column="order_code" />
            <result property="orderDate" column="order_date" />
            <result property="customerId" column="customer_id" />
            <result property="orderStatus" column="order_status" />
            <result property="totalAmount" column="total_amount" />
            <result property="currency" column="currency" />
            <result property="salesPersonId" column="sales_person_id" />
            <result property="followUpPersonId" column="follow_up_person_id" />
            <result property="ownerId" column="owner_id" />
            <result property="note" column="note" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="createdById" column="created_by_id" />
            <result property="updatedById" column="updated_by_id" />
            <result property="isDeleted" column="is_deleted" />
            <result property="deletedAt" column="deleted_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_code,order_date,customer_id,order_status,total_amount,
        currency,sales_person_id,follow_up_person_id,owner_id,note,
        created_at,updated_at,created_by_id,updated_by_id,is_deleted,
        deleted_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sales_orders
        where  id = #{id} 
    </select>
    <resultMap id="SalesOrderVOResultMap" type="com.database.vo.SalesOrderVO">
        <id property="id" column="orderId" />
        <result property="orderCode" column="orderCode" />
        <result property="orderDate" column="orderDate" />
        <result property="customerCode" column="customerCode" />
        <result property="customerName" column="customerName" />
        <result property="salesPersonName" column="salesPersonName" />
        <result property="followUpPersonName" column="followUpPersonName" />
        <result property="ownerName" column="ownerName" />
        <result property="note" column="note" />

        <collection property="items" ofType="com.database.vo.SalesOrderVO$OrderItemDTO">
            <result property="productCode" column="productCode" />
            <result property="productName" column="productName" />
            <result property="quantity" column="quantity" />
            <result property="unitPrice" column="unitPrice" />
            <result property="salesCount" column="salesCount" />
        </collection>
    </resultMap>

    <select id="selectSalesOrderByPage" resultMap="SalesOrderVOResultMap">
        SELECT
        so.id AS orderId,  -- 必须查出ID，否则MyBatis无法分组
        so.order_code AS orderCode,
        so.order_date AS orderDate,
        c.customer_code AS customerCode,
        c.customer_name AS customerName,
        p.product_code AS productCode,
        p.product_name AS productName,
        soi.quantity AS quantity,
        soi.unit_price AS unitPrice,
        (soi.quantity * soi.unit_price) AS salesCount,
        s1.staff_name AS salesPersonName,
        s2.staff_name AS followUpPersonName,
        s3.staff_name AS ownerName,
        so.note AS note
        FROM sales_orders so
        INNER JOIN sales_order_items soi ON so.id = soi.sales_order_id
        INNER JOIN customers c ON so.customer_id = c.id
        INNER JOIN products p ON soi.product_id = p.id
        LEFT JOIN staffs s1 ON so.sales_person_id = s1.id
        LEFT JOIN staffs s2 ON so.follow_up_person_id = s2.id
        LEFT JOIN staffs s3 ON so.owner_id = s3.id
        <where>
            so.is_deleted = 0
            <if test="customerName != null and customerName != ''">
                AND c.customer_name LIKE CONCAT('%', #{customerName}, '%')
            </if>
            <if test="salesOrderCode != null and salesOrderCode != ''">
                AND so.order_code LIKE CONCAT('%', #{salesOrderCode}, '%')
            </if>
        </where>
    </select>
    <select id="countOrdersByMonth" resultType="int">
        SELECT COUNT(*)
        FROM sales_orders
        WHERE order_code LIKE CONCAT('xs', #{monthStr}, '%')
    </select>
    <select id="selectOrderIdByCode" resultType="java.lang.Long">
        select id from sales_orders where order_code=#{salesOrderCode}
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update  sales_orders set is_deleted=1,deleted_at=NOW()
        where  id = #{id} 
    </update>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.database.pojo.SalesOrders" useGeneratedKeys="true">
        insert into sales_orders
        ( id,order_code,order_date,customer_id,order_status,total_amount,
        currency,sales_person_id,follow_up_person_id,owner_id,note,
        created_at,updated_at,created_by_id,updated_by_id,is_deleted,
        deleted_at)
        values (#{id},#{orderCode},#{orderDate},#{customerId},#{orderStatus},#{totalAmount},
        #{currency},#{salesPersonId},#{followUpPersonId},#{ownerId},#{note},
        #{createdAt},#{updatedAt},#{createdById},#{updatedById},#{isDeleted},
        #{deletedAt})
    </insert>
    <insert id="insertSelective" parameterType="com.database.pojo.SalesOrders" useGeneratedKeys="true" keyProperty="id">
        insert into sales_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderCode != null">order_code,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="salesPersonId != null">sales_person_id,</if>
            <if test="followUpPersonId != null">follow_up_person_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="createdById != null">created_by_id,</if>
            <if test="updatedById != null">updated_by_id,</if>
            <if test="note != null">note,</if>
            <if test="totalAmount != null">total_amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderCode != null">#{orderCode},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="salesPersonId != null">#{salesPersonId},</if>
            <if test="followUpPersonId != null">#{followUpPersonId},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="createdById != null">#{createdById},</if>
            <if test="updatedById != null">#{updatedById},</if>
            <if test="note != null">#{note},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.database.pojo.SalesOrders">
        update sales_orders
        <set>
                <if test="orderCode != null">
                    order_code = #{orderCode},
                </if>
                <if test="orderDate != null">
                    order_date = #{orderDate},
                </if>
                <if test="customerId != null">
                    customer_id = #{customerId},
                </if>
                <if test="orderStatus != null">
                    order_status = #{orderStatus},
                </if>
                <if test="totalAmount != null">
                    total_amount = #{totalAmount},
                </if>
                <if test="currency != null">
                    currency = #{currency},
                </if>
                <if test="salesPersonId != null">
                    sales_person_id = #{salesPersonId},
                </if>
                <if test="followUpPersonId != null">
                    follow_up_person_id = #{followUpPersonId},
                </if>
                <if test="ownerId != null">
                    owner_id = #{ownerId},
                </if>
                <if test="note != null">
                    note = #{note},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt},
                </if>
                <if test="createdById != null">
                    created_by_id = #{createdById},
                </if>
                <if test="updatedById != null">
                    updated_by_id = #{updatedById},
                </if>
                <if test="isDeleted != null">
                    is_deleted = #{isDeleted},
                </if>
                <if test="deletedAt != null">
                    deleted_at = #{deletedAt},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.database.pojo.SalesOrders">
        update sales_orders
        set 
            order_code =  #{orderCode},
            order_date =  #{orderDate},
            customer_id =  #{customerId},
            order_status =  #{orderStatus},
            total_amount =  #{totalAmount},
            currency =  #{currency},
            sales_person_id =  #{salesPersonId},
            follow_up_person_id =  #{followUpPersonId},
            owner_id =  #{ownerId},
            note =  #{note},
            created_at =  #{createdAt},
            updated_at =  #{updatedAt},
            created_by_id =  #{createdById},
            updated_by_id =  #{updatedById},
            is_deleted =  #{isDeleted},
            deleted_at =  #{deletedAt}
        where   id = #{id} 
    </update>
</mapper>
