<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.mapper.StaffRolesMapper">

    <resultMap id="BaseResultMap" type="com.database.pojo.StaffRoles">
            <id property="id" column="id" />
            <result property="staffId" column="staff_id" />
            <result property="roleId" column="role_id" />
            <result property="assignedAt" column="assigned_at" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,staff_id,role_id,assigned_at,created_at
    </sql>

    <select id="selectRoleNamesByStaffId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT r.role_name
        FROM staff_roles sr
        JOIN roles r ON sr.role_id = r.id
        WHERE sr.staff_id = #{staffId}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from staff_roles
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from staff_roles
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.database.pojo.StaffRoles" useGeneratedKeys="true">
        insert into staff_roles
        ( id,staff_id,role_id,assigned_at,created_at)
        values (#{id},#{staffId},#{roleId},#{assignedAt},#{createdAt})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.database.pojo.StaffRoles" useGeneratedKeys="true">
        insert into staff_roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="staffId != null">staff_id,</if>
                <if test="roleId != null">role_id,</if>
                <if test="assignedAt != null">assigned_at,</if>
                <if test="createdAt != null">created_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="staffId != null">#{staffId},</if>
                <if test="roleId != null">#{roleId},</if>
                <if test="assignedAt != null">#{assignedAt},</if>
                <if test="createdAt != null">#{createdAt},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.database.pojo.StaffRoles">
        update staff_roles
        <set>
                <if test="staffId != null">
                    staff_id = #{staffId},
                </if>
                <if test="roleId != null">
                    role_id = #{roleId},
                </if>
                <if test="assignedAt != null">
                    assigned_at = #{assignedAt},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.database.pojo.StaffRoles">
        update staff_roles
        set 
            staff_id =  #{staffId},
            role_id =  #{roleId},
            assigned_at =  #{assignedAt},
            created_at =  #{createdAt}
        where   id = #{id} 
    </update>
</mapper>
