<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.database.mapper.SuppliersMapper">

    <resultMap id="BaseResultMap" type="com.database.pojo.Suppliers">
        <id column="id" property="id"/>
        <result column="supplier_code" property="supplierCode"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="short_name" property="shortName"/>
        <result column="main_business" property="mainBusiness"/>
        <result column="tax_no" property="taxNo"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by_id" property="createdById"/>
        <result column="updated_by_id" property="updatedById"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="SupplierDetailDTOMap" type="com.database.vo.SupplierDetailVO">
        <id column="s_id" property="id"/>
        <result column="supplier_code" property="supplierCode"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="short_name" property="shortName"/>
        <result column="main_business" property="mainBusiness"/>
        <result column="tax_no" property="taxNo"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>

        <result column="sales_person_name" property="salesPersonName"/>
        <result column="follow_up_person_name" property="followUpPersonName"/>
        <result column="owner_name" property="ownerName"/>

        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by_staff_name" property="createdByStaffName"/>
        <result column="updated_by_staff_name" property="updatedByStaffName"/>
    </resultMap>

    <sql id="Base_Detail_Column_List">
        s.id AS s_id, s.supplier_code, s.supplier_name, s.short_name, s.main_business,
        s.tax_no, s.address, s.phone, s.email,
        s.created_at, s.updated_at,
        t_sales.staff_name AS sales_person_name,
        t_follow.staff_name AS follow_up_person_name,
        t_owner.staff_name AS owner_name,
        t_created.staff_name AS created_by_staff_name,
        t_updated.staff_name AS updated_by_staff_name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT *
        FROM suppliers
        WHERE id = #{id}
          AND is_deleted = 0
    </select>

    <select id="selectSupplierDetailsByPage" resultMap="SupplierDetailDTOMap">
        SELECT
        <include refid="Base_Detail_Column_List"/>
        FROM suppliers s
        LEFT JOIN staffs t_sales ON s.sales_person_id = t_sales.id
        LEFT JOIN staffs t_follow ON s.follow_up_person_id = t_follow.id
        LEFT JOIN staffs t_owner ON s.owner_id = t_owner.id
        LEFT JOIN staffs t_created ON s.created_by_id = t_created.id
        LEFT JOIN staffs t_updated ON s.updated_by_id = t_updated.id
        <where>
            s.is_deleted = 0
            <if test="supplierCode != null and supplierCode != ''">
                AND s.supplier_code Like CONCAT('%', #{supplierCode}, '%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                AND s.supplier_name LIKE CONCAT('%', #{supplierName}, '%')
            </if>

        </where>
        ORDER BY s.updated_at ASC
    </select>

    <select id="selectSupplierDtoBySupplierCode" resultMap="SupplierDetailDTOMap">
        SELECT
        <include refid="Base_Detail_Column_List"/>
        FROM suppliers s
        LEFT JOIN staffs t_sales ON s.sales_person_id = t_sales.id
        LEFT JOIN staffs t_follow ON s.follow_up_person_id = t_follow.id
        LEFT JOIN staffs t_owner ON s.owner_id = t_owner.id
        LEFT JOIN staffs t_created ON s.created_by_id = t_created.id
        LEFT JOIN staffs t_updated ON s.updated_by_id = t_updated.id
        WHERE s.supplier_code = #{supplierCode} AND s.is_deleted = 0
    </select>

    <insert id="insertSupplier" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO suppliers (
            supplier_name, short_name, main_business, tax_no, address, phone, email,
            sales_person_id, follow_up_person_id, owner_id,
            created_by_id, updated_by_id
        ) VALUES (
                     #{supplierName}, #{shortName}, #{mainBusiness}, #{taxNo}, #{address}, #{phone}, #{email},
                     #{salesPersonId}, #{followUpPersonId}, #{ownerId},
                     #{createdById}, #{updatedById}
                 )
    </insert>

    <update id="updateSupplierCode">
        UPDATE suppliers
        SET supplier_code = #{supplierCode}, updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <update id="updateSupplier">
        UPDATE suppliers
        <set>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="shortName != null">short_name = #{shortName},</if>
            <if test="mainBusiness != null">main_business = #{mainBusiness},</if>
            <if test="taxNo != null">tax_no = #{taxNo},</if>
            <if test="address != null">address = #{address},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="salesPersonId != null">sales_person_id = #{salesPersonId},</if>
            <if test="followUpPersonId != null">follow_up_person_id = #{followUpPersonId},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            updated_by_id = #{updatedById},
            updated_at = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateToDeletedBySupplierCode">
        UPDATE suppliers
        SET is_deleted = 1,
            deleted_at = CURRENT_TIMESTAMP,
            updated_by_id = #{currentStaffId},
            updated_at = CURRENT_TIMESTAMP
        WHERE supplier_code = #{supplierCode} AND is_deleted = 0
    </update>

    <select id="selectBySupplierCode" resultMap="BaseResultMap">
        SELECT * FROM suppliers WHERE supplier_code = #{supplierCode} AND is_deleted = 0
    </select>

</mapper>