<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.mapper.WarehousesMapper">

    <resultMap id="BaseResultMap" type="com.database.pojo.Warehouses">
            <id property="id" column="id" />
            <result property="warehouseCode" column="warehouse_code" />
            <result property="warehouseName" column="warehouse_name" />
            <result property="location" column="location" />
            <result property="contactPhone" column="contact_phone" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,warehouse_code,warehouse_name,location,contact_phone,created_at,
        updated_at,is_deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from warehouses
        where  id = #{id} 
    </select>

    <select id="selectListNotDeleted" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from warehouses
        where is_deleted = 0
        order by id
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from warehouses
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.database.pojo.Warehouses" useGeneratedKeys="true">
        insert into warehouses
        ( id,warehouse_code,warehouse_name,location,contact_phone,created_at,
        updated_at,is_deleted)
        values (#{id},#{warehouseCode},#{warehouseName},#{location},#{contactPhone},#{createdAt},
        #{updatedAt},#{isDeleted})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.database.pojo.Warehouses" useGeneratedKeys="true">
        insert into warehouses
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="warehouseCode != null">warehouse_code,</if>
                <if test="warehouseName != null">warehouse_name,</if>
                <if test="location != null">location,</if>
                <if test="contactPhone != null">contact_phone,</if>
                <if test="createdAt != null">created_at,</if>
                <if test="updatedAt != null">updated_at,</if>
                <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="warehouseCode != null">#{warehouseCode},</if>
                <if test="warehouseName != null">#{warehouseName},</if>
                <if test="location != null">#{location},</if>
                <if test="contactPhone != null">#{contactPhone},</if>
                <if test="createdAt != null">#{createdAt},</if>
                <if test="updatedAt != null">#{updatedAt},</if>
                <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.database.pojo.Warehouses">
        update warehouses
        <set>
                <if test="warehouseCode != null">
                    warehouse_code = #{warehouseCode},
                </if>
                <if test="warehouseName != null">
                    warehouse_name = #{warehouseName},
                </if>
                <if test="location != null">
                    location = #{location},
                </if>
                <if test="contactPhone != null">
                    contact_phone = #{contactPhone},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt},
                </if>
                <if test="isDeleted != null">
                    is_deleted = #{isDeleted},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.database.pojo.Warehouses">
        update warehouses
        set 
            warehouse_code =  #{warehouseCode},
            warehouse_name =  #{warehouseName},
            location =  #{location},
            contact_phone =  #{contactPhone},
            created_at =  #{createdAt},
            updated_at =  #{updatedAt},
            is_deleted =  #{isDeleted}
        where   id = #{id} 
    </update>
</mapper>
